<button mat-dialog-close class="close-modal">
  <mat-icon aria-hidden="false" aria-label="Close modal">close</mat-icon>
</button>
<h2 mat-dialog-title>{{ premiere.nom_pelicula }}</h2>
<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let param of params; let i = index">
      <mat-selection-list *ngIf="param.type === 'check'" [(ngModel)]="param.value">
        <mat-list-option [value]="true">
          {{ param.cod_parametro }}
        </mat-list-option>
      </mat-selection-list>
      <section *ngIf="param.type === 'text'" class="text-param">
        {{ param.cod_parametro }}
        <mat-form-field class="max">
          <mat-label></mat-label>
          <input matInput [(ngModel)]="param.value">
        </mat-form-field>
      </section>
      <section *ngIf="param.type === 'days'" class="days-param">
          {{ param.cod_parametro }}
          <section class="days-wrapper">
            <mat-checkbox (change)="OnChange(param.value, day.id, i)" class="checkbox-custom" *ngFor="let day of param.days">
              {{ day.label }}
            </mat-checkbox>
          </section>
      </section>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="params" mat-raised-button color="warn">Guardar configuración</button>
</mat-dialog-actions>
