<mat-card>
  <mat-card-title>{{ "define.title" | translate }}</mat-card-title>
  <mat-card-content class="wrapper">
    <mat-card>
      <mat-grid-list cols="3" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input
              matInput
              placeholder="{{ 'global.premiere-week' | translate }}"
              type="date"
              [(ngModel)]="date"
              (ngModelChange)="getWeeks()"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input
              matInput
              placeholder="{{ 'global.number-week' | translate }}"
              type="number"
              [(ngModel)]="week"
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="warn" (click)="loadData()">
            {{ "global.apply" | translate }}
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <mat-card *ngIf="premieres.length > 0">
      <mat-grid-list cols="2" [rowHeight]="premieres.length * 56 + 48">
        <mat-grid-tile>
          <mat-list>
            <h3 matSubheader>Estrenos definidos</h3>
            <section>
              <mat-selection-list [(ngModel)]="premieresListSelected">
                <mat-list-option
                  [selected]="premiere.checked"
                  [value]="premiere.id"
                  *ngFor="let premiere of premieres"
                >
                  {{ premiere.id }} {{ premiere.titulo }} 
                </mat-list-option>
              </mat-selection-list>
            </section>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <button
            mat-raised-button
            color="warn"
            (click)="savePremiereForecast()"
          >
            Aplicar
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" [rowHeight]="100">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Ciudad</mat-label>
            <mat-select [(ngModel)]="citySelected">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{ city.nom_ciudad }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card> 
    <mat-card *ngIf="showParamsSection">
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field class="select-parameters">
            <mat-label>Seleccione estreno a parametrizar</mat-label>
            <mat-select [(ngModel)]="premieresForecastSelected">
              <mat-option
                name="premiereToAddParams"
                ngDefaultControl
                *ngFor="let premier of premieresForecast"
                [value]="premier"
              >
                {{ premier.nom_pelicula }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button
            mat-raised-button
            color="warn"
            class="btn-parameters"
            (click)="openModal()"
          >
            Ir parámetros
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="100">
        <mat-grid-tile>
          <button
            mat-raised-button
            color="warn"
            class="item-full"
            (click)="generateForecast()"
          >
            Generar forecast
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-card-content>
</mat-card>
