<button mat-dialog-close class="close-modal">
  <mat-icon aria-hidden="false" aria-label="Close modal">close</mat-icon>
</button>
<h2 mat-dialog-title>{{ 'modal-schedule.title' | translate }}</h2>
<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let param of params; let i = index">
      <mat-selection-list *ngIf="param.Type === 'check'" [(ngModel)]="param.value">
        <mat-list-option [value]="true">
          {{ param.Atributo }}
        </mat-list-option>
      </mat-selection-list>
      <section *ngIf="param.Type === 'text'" class="text-param">
        {{ param.Atributo }}
        <mat-form-field class="max">
          <mat-label></mat-label>
          <input matInput [(ngModel)]="param.value">
        </mat-form-field>
      </section>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="params" mat-raised-button color="warn">
    {{ 'modal-schedule.save' | translate }}
  </button>
</mat-dialog-actions>
