<mat-card *ngIf="programData">
  <mat-card-title>{{ "view-schedule.title" | translate }}</mat-card-title>
  <mat-card-subtitle>
    <span>
      {{ "view-schedule.subtitle" | translate: { week: schedule.id_semana } }}
    </span>
  </mat-card-subtitle>
  <mat-card-subtitle>
    <span>
      {{ "view-schedule.cinema" | translate: { cinema: schedule.nom_cine } }}
    </span>
  </mat-card-subtitle>
  <mat-card-content class="wrapper">
    <mat-card *ngFor="let day of programGroupedByDays" class="day-wrapper">
      <span class="day-header">
        {{ day.name_day }}
      </span>
      <table class="schedule-table">
        <thead>
          <tr role="row">
            <th></th>
            <th
              *ngFor="let screen of schedule.screens; let indexScreen = index"
            >
              <span> {{ screen.screen }} </span>
              <span> ({{ screen.cap }}) </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let time of schedule.times; let indexTime = index">
            <td class="time-header">
              {{ time.time }}
            </td>
            <td
              *ngFor="let screen of schedule.screens; let indexScreen = index"
            >
              <span
                *ngIf="
                  day.moviesParsedToRender[indexScreen] && day.moviesParsedToRender[indexScreen][indexTime];
                  else elseBlock
                "
              >
                <span class="movie-data">{{ day.moviesParsedToRender[indexScreen][indexTime].titulo }}</span>
                <span class="movie-data">{{ day.moviesParsedToRender[indexScreen][indexTime].nom_genero }} - {{ day.moviesParsedToRender[indexScreen][indexTime].cens }}</span>
                <span class="movie-data">{{ day.moviesParsedToRender[indexScreen][indexTime].start || '' }}</span>
                <span class="movie-data">{{ day.moviesParsedToRender[indexScreen][indexTime].final || '' }}</span>
              </span>
              <ng-template #elseBlock>
                {{ "schedule.table.empty-show" | translate }}
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </mat-card-content>
</mat-card>
