.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
}

mat-drawer {
  position: fixed;
  width: 300px;
  height: calc(100vh - 64px);
  top: 64px;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel-header,
.mat-accordion .mat-expansion-panel:last-of-type,
.mat-expansion-panel {
  border-radius: 0;
}

mat-expansion-panel-header {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180,180,180,.3);
  }
}

mat-panel-title {
  font-size: 16px;
}

.mat-nav-list .mat-list-item {
  cursor: pointer;

  &:hover {
    background: #F44336;
    color: #fff;
  }
}

mat-nav-list {
  padding-top: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.list-item-active {
  background: #F44336;
  color: #fff;
}

